<div id="<%= dom_id listing %>">
  <div>
    <strong>Title:</strong>
    <%= listing.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= listing.description %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= listing.price %>
  </div>

  <div>
    <strong>City:</strong>
    <%= listing.city %>
  </div>

</div>
